

<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<style>
body {
    background-image: url("oak.png");
}
</style>
<body>
	<div class='container'>
		<div>
		<img class='homeimages' src="jd.jpg"> <img class='homeimages' src="coco.jpg"> <img class='homeimages' src="sog.jpg"> <img class='homeimages' src="crisp.jpg"> <img class='homeimages' src="gatorade.jpg">
		</div>
		<h1>Hello, Athletics fans!</h1>
		<br>
		<div class="hometext">
			Thanks for visiting this site!  This is just a site A's fans can visit to look at tweets, videos, photos and chat with other A's fans all in one place!  We're just getting started so please be patient as we add more to this site.  Lots more cool stuff will be added soon!
			<br>
			<br>
			<h1>Let's go Oakland!</h1>
		</div>
		<br>
	</div>
</body>